.section3 {
    padding: 100px 15px 65px;

    @media screen and (max-width: 780px) {
        padding: 30px 25px;
    }

    .form-content {
        display: grid;
        grid-template-columns: 30% 70%;
        max-width: 1100px;
        margin: 0 auto;

        @media screen and (max-width: 780px) {
            grid-template-columns: 100%;
        }
    }

    .hours {
        background: black;
        color: $white;
        padding: 24px;

        .hours-content {
            border: 1px dashed #b6b6b6;
            padding: 20px 0;

            h3 {
                font-family: Allura, cursive;
                font-size: 2.5rem;
                font-weight: 100;
                color: #a67245;
            }

            h4 {
                font-family: Poppins, serif;
                margin-top: -16px;
                letter-spacing: 2px;
                font-size: 1.3rem;
            }

            img {
                margin-top: 25px;
            }

            h5 {
                text-transform: uppercase;
                color: #a67245;
                font-family: Poppins, serif;
                font-weight: 100;
                font-size: 1.1rem;
                margin: 38px 0 12px;

                @media screen and (max-width: 900px) and (min-width: 780px) {
                    font-size: 0.9rem;
                }
            }

            p {
                font-size: 0.85rem;

                @media screen and (max-width: 900px) and (min-width: 780px) {
                    font-size: 0.7rem;
                }
            }
        }
    }

    .form-infos {
        background: $white;
        display: flex;
        justify-content: center;
        padding: 30px 0;
        align-items: center;

        h2 {
            font-family: $font1;
            font-size: 2.5rem;
            font-weight: 100;
            color: $or;
        }

        h3 {
            color: $black;
            margin-top: -18px;
            font-size: 1.8rem;
            font-family: $font2;

            @media screen and (max-width: 500px) {
                font-size: 1.5rem;
                margin-top: -10px;
            }
        }

        img {
            width: 25px;
            height: 25px;
            margin: 15px 0;
        }

        .form-inputs {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-bottom: 30px;

            @media screen and (max-width: 650px) {
                grid-template-columns: 100%;
            }

            > * {
                padding: 10px 0;
                margin: 10px;
                background: none;
                border: none;
                border-bottom: 1px solid $grey;
                outline: none;
            }
        }
        button {
            background: $black;
            color: $white;
            padding: 16px 34px;
            letter-spacing: 4px;
            font-weight: 700;
            border: none;
            cursor: pointer;
            border-radius: 50px;

            &:hover {
                transform: translateX(3px);
                transition: 0.2s;
            }
        }
    }
}
